[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
python-rapidjson = ">=0.6.0"
dockerflow = "*"
blinker = "*"
click = "*"

[dev-packages]
pytest = "*"
requests = "*"
awscli = "*"
docker = "*"

[requires]
python_version = "3.6"
